
body{
    margin:0px

}







h1{
    padding: 25px 25px;
    text-align:center;
    background-color: black;
    color:white;
    font-family: 'Lato', sans-serif;
    
}


ul{
    margin:-25px 0px;
    padding: 0px 100px;
    background-color: black;
    text-align:center;
    }

a{
   color:white;
   text-decoration:none;
   letter-spacing:50px 50px;
  
}
ul2{
    position:relative; left:25px; top:-50px; bottom:50px;
    margin: -25px 25px;
    padding: 50px 10px;
    color:white;
    font-family: 'Lato', sans-serif;
    font-size:x-large;
    }
img{
    position:relative; left:25px; top:50px; bottom:50px;
}
ul1 a {
    margin: 10px ;
    position:relative; left:-125px; top:100px; bottom:-400px;
    color:orange;
    
    font-size: larger;


}
 h2{
    position:relative; left:0px; top:25px; bottom:10px;
    padding: 1px 1px;
    margin-top: 10px;
    text-align:center;
    background-color: white;
    color:black;
    font-family: 'Lato', sans-serif;
}

    .contactname{
    position:relative;  top:100px; bottom:10px;
    list-style: height 10px;
    color:black;
    justify-content:space-between;
    display:unset;
    border-radius:10px;
    border-style: solid;
    border-color:white;
    text-align: center;
    
}
.contactemail{
    position:relative;  top:100px; bottom:10px;
    list-style: height 10px;
    color:black;
    justify-content:space-between;
    display:unset;
    border-radius:10px;
    border-style: solid;
    border-color:white;
    text-align: center;

}
.contactsubject{
    position:relative;  top:100px; bottom:10px;
    list-style: height 10px;
    color:black;
    justify-content:space-between;
    display:unset;
    border-radius:10px;
    border-style: solid;
    border-color:white;
    text-align: center;
}
.contactmessage{
    position:relative;  top: 100px; bottom:10px;
    list-style: height 10px;
    color:white;
    justify-content:space-between;  
    display:unset;
    border-radius:10px;
    border-style: solid;
    border-color:white;
    text-align: center;
    
}
textarea{
    position:relative;  top:-20px; bottom:10px;
    

}
.message{
    color: black;
    position:relative; right:10px;  top:-20px; bottom:100px;
}
button{
    position:relative; left:950px;top:80px; bottom:10px;
    color:white;
    background-color:black;
    border-radius:1px;
    
    

}

.photo{
    position: relative; left:500px; bottom:10px;

}
.photo11{
    position: relative; left:500px; bottom:500px; top:-200px;

}
.photo12  a {
    position:relative; left:575px;  bottom:500px; top: -204px;
    color:orange;
    font-size: larger;
}